<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <link rel="stylesheet" href=
            "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src=
                    "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <script src=
                    "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">
    </script>
    <script src=
                    "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
    </script>

    <!-- CDN link used below is compatible with this example -->
    <link rel="stylesheet" href=
            "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <script src=
                    "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js">
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">LingoJive</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/createprofile">Create a Profile</a>
                    <a class="dropdown-item" href="/searchprofile">Search Profile</a>
                    <a class="dropdown-item" href="/socket">Socket</a>
                    <a class="dropdown-item" href="/messenger">Messenger (Demo)</a>
                    <a class="dropdown-item" href="/chats">DM Chats</a>
                    <a class="dropdown-item" href="/posts">Posts</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/myprofile">View Profile</a>
                    <a class="dropdown-item" href="/editprofile">Edit Profile</a>
                    <a class="dropdown-item" href="#">Settings & Privacy</a>
                    <a class="dropdown-item" href="#">Support</a>
                    <a class="dropdown-item" href="logout">Sign out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<h1 style="text-align: center">Edit Profile</h1>
<div class="container">
    <h3 style="text-align: center" id="username"><%= username %></h3>
</div>
<div class="container">
    <h5>Fill in new info:</h5>
    <div class="form-group">
        <label for="firstname">First Name:</label>
        <input type="text" name="firstname" id="firstname" class="form-control"
               placeholder="firstname">
    </div>
    <div class="form-group">
        <label for="lastname">Last Name:</label>
        <input type="text" name="lastname" id="lastname" class="form-control"
               placeholder="lastname">
    </div>
    <div class="form-group">
        <label for="password">New Password:</label>
        <input type="password" name="password" id="password" class="form-control"
               placeholder="password">
    </div>
    <div class="form-group">
        <label for="confirm_password">Confirm New Password:</label>
        <input type="password" name="confirm_password" id="confirm_password" class="form-control"
               placeholder="confirm password">
    </div>
    <div class="form-group">
        <label for="bio">Biography:</label>
        <input type="text" name="bio" id="bio" class="form-control"
               placeholder="Enter your biography...">
    </div>
    <div class="form-group" style="float: left">
        <label>Native Languages</label>
        <div class="dropdown bootstrap-select show-tick fit-width dropup">
            <select class="selectpicker" multiple title="Select all that apply...">
                <option>English</option>
                <option>Spanish</option>
                <option>French</option>
                <option>German</option>
                <option>Hindi</option>
                <option>Italian</option>
                <option>Dutch</option>
                <option>Mandarin</option>
            </select>
        </div>
    </div>
    <div class="form-group" style="float: right">
        <label>Practicing Languages</label>
        <div class="dropdown bootstrap-select show-tick fit-width dropup">
            <select class="selectpicker" multiple title="Select all that apply...">
                <option>English</option>
                <option>Spanish</option>
                <option>French</option>
                <option>German</option>
                <option>Hindi</option>
                <option>Italian</option>
                <option>Dutch</option>
                <option>Mandarin</option>
            </select>
        </div>
    </div>
    <div class="jumbotron" id="output2" style="clear: both">

    </div>
    <div class="text-center">
        <button class="btn-danger btn-lg" id="btnDiscardChanges">Discard Changes</button>
        <button class="btn-warning btn-lg" id="btnUpdateUser">Confirm Changes</button>
    </div>
</div>
<script src="javascripts/editprofile.js"></script>
</body>
</html>