<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">LingoJive</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="homepage">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/createprofile">Create a Profile</a>
                    <a class="dropdown-item" href="/searchprofile">Search Profile</a>
                    <a class="dropdown-item" href="/socket">Socket</a>
                    <a class="dropdown-item" href="/messenger">Messenger (Demo)</a>
                    <a class="dropdown-item" href="/chats">DM Chats</a>
                    <a class="dropdown-item" href="/posts">Posts</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="myprofile">Profile<span class="sr-only"(current)></span></a>
            </li>
        </ul>
    </div>
</nav>
<h1 style="text-align: center">Edit Profile</h1>
<div class="container">
    <h5>Enter the username.</h5>
    <label for="username">Username</label>
    <div class="form-group input-group">
        <input type="text" name="username" id="username" class="form-control"
               placeholder="username">
        <button class="btn btn-success" id="btnFindUser">Search</button>
    </div>
    <div class="jumbotron" id="output1">

    </div>
</div>
<div class="container">
    <h5>Fill in new info:</h5>
    <div class="form-group">
        <label for="firstname">First Name:</label>
        <input type="text" name="firstname" id="firstname" class="form-control"
               placeholder="firstname">
    </div>
    <div class="form-group">
        <label for="lastname">Last Name:</label>
        <input type="text" name="lastname" id="lastname" class="form-control"
               placeholder="lastname">
    </div>
    <div class="form-group">
        <label for="password">New Password:</label>
        <input type="password" name="password" id="password" class="form-control"
               placeholder="password">
    </div>
    <div class="form-group">
        <label for="confirm_password">Confirm New Password:</label>
        <input type="password" name="confirm_password" id="confirm_password" class="form-control"
               placeholder="confirm password">
    </div>
    <div class="jumbotron" id="output2">

    </div>
    <div class="text-center">
        <button class="btn-danger btn-lg" id="btnDiscardChanges">Discard Changes</button>
        <button class="btn-warning btn-lg" id="btnUpdateUser">Confirm Changes</button>
    </div>
</div>
<script src="javascripts/editprofile.js"></script>
</body>
</html>