<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messenger</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="stylesheets/messenger.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">LingoJive</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/createprofile">Create a Profile</a>
                    <a class="dropdown-item" href="/searchprofile">Search Profile</a>
                    <a class="dropdown-item" href="/socket">Socket</a>
                    <a class="dropdown-item" href="/messenger">Messenger (Demo)</a>
                    <a class="dropdown-item" href="/chats">DM Chats</a>
                    <a class="dropdown-item" href="/posts">Posts</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/myprofile">My Profile</a>
                    <a class="dropdown-item" href="/editprofile">Edit Profile</a>
                    <a class="dropdown-item" href="#">Settings & Privacy</a>
                    <a class="dropdown-item" href="#">Support</a>
                    <a class="dropdown-item" href="logout">Sign out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!--<h1 style="text-align: center">Messenger site</h1>-->
<!--<h3 style="text-align: center">(going to put conversation page in here eventually)</h3>-->

<span id="username"><%= username %></span>

<!--<div class="chat_window">-->
<!--    <div class="top_menu">-->
<!--        <div class="buttons">-->
<!--            <div class="button close"></div>-->
<!--            <div class="button minimize"></div>-->
<!--            <div class="button maximize"></div>-->
<!--        </div>-->
<!--        <div class="title">Chat</div>-->
<!--    </div>-->
    <ul id ="messages" class="messages">

    </ul>

    <div class="bottom_wrapper clearfix">
        <i id="typing"></i>
        <form id="form">
            <div class="message_input_wrapper">
                <input id="message" class="message_input" placeholder="Type your message here..." />
            </div>
            <button class="send_message">
                Send
            </button>
<!--            <span id="username" style = "color: white"><%= username %></span>-->
        </form>
    </div>
<!--</div>-->

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/rexeze/formatTimeStamp/src/index-cdn.js"></script>
<script src="javascripts/messenger.js"></script>
</body>
</html>