<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        var username = '<%= username %>';
        var overallFluency = '<%= overallFluency %>';
        var pronunciation = '<%= pronunciation %>';
        var conversationalAbility = '<%= conversationalAbility %>';
        var listening = '<%= listening %>';
        var speaking = '<%= speaking %>';
    </script>
    <link rel="stylesheet" href="../stylesheets/profile.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="nav-link" href="/">
        <div class="logo-image">
            <img src="../Picture/LingoJiveLogo.png" class="img-fluid" width="80px" height="80px">
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarTogglerDemo01" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/searchprofile">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                        <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
                    </svg>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/chats">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                    </svg>
                </a>
                <div id="button_badge">
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/posts">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 16">
                        <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                        <path d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z"/>
                    </svg>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="editprofile">Edit Profile<span class="sr-only"(current)></span></a>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= username %>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/myprofile">My Profile</a>
                    <a class="dropdown-item" href="/editprofile">Edit Profile</a>
                    <a class="dropdown-item" href="#">Settings & Privacy</a>
                    <a class="dropdown-item" href="#">Support</a>
                    <a class="dropdown-item" href="logout">Sign out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div style = "text-align: center; padding-top: 20px" >
    <img src = "../Picture/profilephoto.png" id="photo" height = "200px" width = "200px" alt = "Profile Photo">
</div>
<h3 id="fullname" style="text-align: center"><%=firstname%> <%=lastname%></h3>
<h4 id="head_username" style="text-align: center; text-size: 31px; border-color: Blue"><%= username %></h4>
<script src="javascripts/myprofile.js"></script>
<div style="text-align: center; padding: 10px">
<button onclick="window.location.href='/editprofile';"> Edit Profile </button>
</div>
<div style="text-align: center;">
    <button onclick="window.location.href='/viewblocked'"; class="btn-danger" id="btnBlockUser">View Blocked</button>
    <button onclick="window.location.href='/viewfollowing'"; class="btn-success" id="btnAddFollow">View Following</button>
</div>
<div id="userInfo" class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class = "bio">
                <h3>Biography</h3>
                <p id="bio" style="text-align: center"><%= bio %></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class = "boxOne">
                <h4>Languages Spoken</h4>
                <p id="langExp" style="text-align: center"><%= langExp %> </p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class = "boxTwo">
                <h4>Languages to be Learned</h4>
                <p id="langLearn" style="text-align: center"><%= langLearn %></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class = "userRating" >
                <h4>User Rating</h4>
                <h6 style="text-align: center">Overall Fluency: <%= overallFluency %></h6>
                <h6 style="text-align: center">Pronunciation: <%= pronunciation %></h6>
                <h6 style="text-align: center">Conversational Ability: <%= conversationalAbility %></h6>
                <h6 style="text-align: center">Listening: <%= listening %></h6>
                <h6 style="text-align: center">Speaking: <%= speaking %></h6>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/myprofile.js"></script>
</body>
</html>