body{
    max-width: 500px;
    margin: auto;
}

btn-primary{
    background-color:rgb(190,207,103);
}

#output pre{
    color: red;
    text-align: center;
}
h1{
    margin-top: 20px;
}

#button_badge {
    background-color: #fa3e3e;
    border-radius: 2px;
    color: white;

    padding: 1px 3px;
    font-size: 13px;
    position: absolute;
    top: 15px;
    left: 210px;
}