#button_badge {
    background-color: #EE973A;
    border-radius: 2px;
    color: white;
    display: none;

    padding: 1px 3px;
    font-size: 13px;
    position: absolute;
    top: 15px;
    left: 210px;
}