.alertBox{
    display: none;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    border: 2px solid black;
    width: 400px;
    height: 200px;
    margin-top: -100px;
    margin-left: -200px;
    align-content: center;
    background: white;
}