body {  margin: 0;
        padding-bottom: 3rem;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }

#form { background: rgba(0, 0, 0, 0.15);
        padding: 0.25rem; position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        height: 3rem;
        box-sizing: border-box;
        backdrop-filter: blur(10px); }

#input {border: none;
        padding: 0 1rem;
        flex-grow: 1;
        border-radius: 2rem;
        margin: 0.25rem; }

#input:focus { outline: none; }

#form > button {background: #333;
                border: none;
                padding: 0 1rem;
                margin: 0.25rem;
                border-radius: 3px;
                outline: none;
                color: #fff; }

#messages { list-style-type: none;
            margin: auto;
            padding: 0;
            max-width: 700px;}

#messages > li {padding: 0.5rem 1rem;
                border: 1px solid rgb(235, 238, 240);}

#messages > li:hover {background: #efefef;}

nav{position: fixed;
    top: 0;
    left: 0;
    right: 0;}

#button_badge {
    background-color: #fa3e3e;
    border-radius: 2px;
    color: white;
    display: none;

    padding: 1px 3px;
    font-size: 13px;
    position: absolute;
    top: 15px;
    left: 210px;
}


.alertBoxReceive{
    text-align: center;
    display: none;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    border: 2px solid black;
    width: 400px;
    height: 200px;
    margin-top: -100px;
    margin-left: -200px;
    align-content: center;
    background: white;
}

.alertBoxReceiveInner{
    font-size: 20px;
    margin-top: 10px;
}

.alertBoxReceiveBottom{
    text-align: center;
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    left: 0;
}

.btn-search{
    background-color: #EE973A !important;
    color: #4B4B69 !important;
}

.btn-decline{
    background-color: #EE973A !important;
    color: #4B4B69 !important;
}

.btn-send{
    background-color: #4B4B69 !important;
    color: white;
}