.alertBox{
    display: none;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    border: 2px solid black;
    width: 400px;
    height: 200px;
    margin-top: -100px;
    margin-left: -200px;
    align-content: center;
    background: white;
}

#button_badge {
    background-color: #EE973A;
    border-radius: 2px;
    color: white;

    padding: 1px 3px;
    font-size: 13px;
    position: absolute;
    top: 15px;
    left: 210px;
}

#btnUnblockUser{
    display: none;
}

.boxOne{
    /*
    border:5px solid black;
    align: 'center';
    float: left;
    height: 150px;
    width: 500px;
    margin: 20px 100px;
    */
}
.boxOne, .bio, .boxTwo{
    border:3px solid black;
    align: 'center';
    text-align: center;
    height: 150px;
    width: 100%;
    margin-top: 15px;
}
.boxTwo{
    /*border:5px solid black;
    align: 'center';
    float: right;
    height: 150px;
    width: 500px;
    margin: 20px 100px;*/
}