.alertBox{
    display: none;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    border: 2px solid black;
    width: 400px;
    height: 200px;
    margin-top: -100px;
    margin-left: -200px;
    align-content: center;
    background: white;
}

#button_badge {
    background-color: #fa3e3e;
    border-radius: 2px;
    color: white;

    padding: 1px 3px;
    font-size: 13px;
    position: absolute;
    top: 15px;
    left: 210px;
}

#btnUnblockUser{
    display: none;
}

.boxOne{
    /*
    border:5px solid black;
    align: 'center';
    float: left;
    height: 150px;
    width: 500px;
    margin: 20px 100px;
    */
}
.boxOne, .bio, .boxTwo{
    border:3px solid orange;
    align: 'center';
    text-align: center;
    height: 150px;
    width: 100%;
    margin-top: 15px;
}
.userRating {
    border:3px solid orange;
    align: center;
    text-align: center;
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    margin: 15px 0px 0px -200px;
}
.boxTwo{
    /*border:5px solid black;
    align: 'center';
    float: right;
    height: 150px;
    width: 500px;
    margin: 20px 100px;*/
}

.alertBoxReceive{
    text-align: center;
    display: none;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    border: 2px solid black;
    width: 400px;
    height: 200px;
    margin-top: -100px;
    margin-left: -200px;
    align-content: center;
    background: white;
}

.alertBoxReceiveInner{
    font-size: 20px;
    margin-top: 10px;
}

.alertBoxReceiveBottom{
    text-align: center;
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    left: 0;
}

.btn-search{
    background-color: #EE973A !important;
    color: #4B4B69 !important;
}

.btn-decline{
    background-color: #EE973A !important;
    color: #4B4B69 !important;
}

.btn-send{
    background-color: #4B4B69 !important;
    color: white;
}