#video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
    grid-auto-rows: 400px;
    left: 6%;
    top: 25%;
    /*margin-left: -175px;*/
    position: relative;
    /*border: 5px solid black;*/
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 10px solid #483D8B;
    outline: 5px solid #343a40;
}

.rateUser{
    display: none;
    z-index: 1;
    position: fixed;
    top: 35%;
    left: 50%;
    border: 2px solid black;
    width: 400px;
    height: 375px;
    margin-top: -100px;
    margin-left: -200px;
    align-content: center;
    background: white;
}

#hangUpButton{
    /*left: 48%;*/
    /*margin-top: 20px;*/
    /*position: absolute;*/
    left: -11px;
    position: relative;
}

#buttonAndClock{
    left: 48%;
    margin-top: 20px;
    position: absolute;
}

#timer{
    width: 82px;
    padding-left: 10px;
    font-size: 18px;
    border: 2px solid #343a40;
    left: -11px;
    position: relative;
}

#rateUserTop{
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
}

.inputMargin{
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-search{
    background-color: #EE973A !important;
    color: #4B4B69 !important;
}
